<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        bootstrap="tests/bootstrap.php"
        colors="true"
        backupGlobals="false"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.3/phpunit.xsd"
        cacheDirectory=".phpunit.cache"
        backupStaticProperties="false"
        displayDetailsOnPhpunitDeprecations="true">
  <testsuites>
    <testsuite name="Tests">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="test"/>
    <env name="PHPUNIT_TEST_SUITE" value="1"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory>build</directory>
      <directory>vendor</directory>
    </exclude>
  </source>
</phpunit>
